:root {
    --base-color: #FFD241;
    --notice-color: #CB0037;
    --disactive-color: #CDCDCD;
    --placeholder-color: #8C8C8C;
    --decs-color: #C1C1C1;
    --country-color: #C5B223;
    --selector-color: rgba(196, 196, 196, 0,3);
}

